@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
$font: "Montserrat";

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(229, 232, 235);
  font-family: $font;
}
